/* From Uiverse.io by Smit-Prajapati */ 
img{
    height: 250px;
    display: flex;
}

.button {
    /* in scss with just one variable i can change opacity with rgba(variable, opacity) but in css it's not possible so i have used three seperate variables */
  
    --main-color: rgb(46, 213, 115);
    --main-bg-color: rgba(46, 213, 116, 0.36);
    --pattern-color: rgba(46, 213, 116, 0.073);
  
    /* change this rotation value */
    filter: hue-rotate(0deg);
  
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: radial-gradient(
        circle,
        var(--main-bg-color) 0%,
        rgba(0, 0, 0, 0) 95%
      ),
      linear-gradient(var(--pattern-color) 1px, transparent 1px),
      linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size:
      cover,
      15px 15px,
      15px 15px;
    background-position:
      center center,
      center center,
      center center;
    border-image: radial-gradient(
        circle,
        var(--main-color) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      1;
    border-width: 1px 0 1px 0;
    color: var(--main-color);
    padding: 1rem 3rem;
    font-weight: 700;
    margin-top: 2em;
    font-size: 1.5rem;
    transition: background-size 0.2s ease-in-out;
  }
  
  .button:hover {
    background-size:
      cover,
      10px 10px,
      10px 10px;
  }
  .button:active {
    filter: hue-rotate(250deg);
  }
  body{
    background-color: black;
   
    place-items: center;
    padding: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
  }
  @import url('https://fonts.googleapis.com/css?family=Raleway|Sacramento');
 
  .text-effect{
      color: #fff6a9;
      font-family: 'Sacramento', cursive;
      font-size: 120px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;
      margin: 20px auto 0;
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      position: relative;
      animation: animate 2s ease-in-out infinite;
  }
  @keyframes animate{
      20%, 24%, 55%{
          color: #111;
          text-shadow: none;
      }
      0%, 19%, 21%, 23%, 25%, 54%, 56%, 100%{
          color: #fff6a9;
          text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      }
  }
  @media only screen and (max-width: 990px){
      .text-effect{ font-size: 100px; }
  }
  @media only screen and (max-width: 767px){
      .text-effect{ font-size: 80px; }
  }
  @media only screen and (max-width: 479px){
      .text-effect{ font-size: 60px; }
  }
  @media only screen and (max-width: 359px){
      .text-effect{ font-size: 45px; }
  }
